#SPDX-License-Identifier: MIT-0
---
# tasks file for continuwuity

- name: Add Continuwuity repository
  ansible.builtin.deb822_repository:
    name: continuwuity
    types: [deb]
    uris: https://forgejo.ellis.link/api/packages/continuwuation/debian/
    suites: ["{{ ansible_facts['distribution_release'] }}"]
    components: [stable]
    architectures: [amd64]
    signed_by: https://forgejo.ellis.link/api/packages/continuwuation/debian/repository.key
    enabled: true

- name: Install Continuwuity package
  ansible.builtin.package:
    name: "{{ continuwuity_package }}"
    state: present
    update_cache: true

- name: Deploy configuration for Continuwuity
  ansible.builtin.template:
    src: conduwuit.toml.j2
    dest: /etc/conduwuit/conduwuit.toml
    mode: 0644
    owner: root
    group: root
  notify: Restart Continuwuity

- name: Ensure Continuwuity service is enabled and running
  service:
    name: "{{ continuwuity_service_name }}"
    state: started
    enabled: true
