#SPDX-License-Identifier: MIT-0
---
# tasks file for matrix_synapse

- name: Install matrix repo
  ansible.builtin.deb822_repository:
    name: matrix-org
    types: [deb]
    uris: https://packages.matrix.org/debian/
    suites: [ "{{ ansible_facts['distribution_release'] }}" ]
    components: [main]
    architectures: [amd64]
    signed_by: https://packages.matrix.org/debian/matrix-org-archive-keyring.gpg

- name: Install Synapse
  ansible.builtin.package:
    name: matrix-synapse-py3
    state: present
    update_cache: true

- name: Deploy server_name.yaml
  ansible.builtin.template:
    src: server_name.yaml.j2
    dest: "{{ matrix_homeserver_config_directory }}/server_name.yaml"
    owner: root
    group: matrix-synapse
    mode: '0640'
  notify: Restart Synapse

- name: Ensure Synapse service is enabled and running
  ansible.builtin.service:
    name: matrix-synapse
    state: started
    enabled: true
